.Button {
  font-size: 20px;
  padding: 10px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 5px;
  border: 2px solid #bc6c25;
  cursor: pointer;
}

.Button:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid black;
  background-color: #606c38;
}
