.SearchInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  border-radius: 3px;
  font-size: 25px;
  margin: 15px;
  padding: 15px 20px;
}

.SearchInput input {
  font-size: 22px;
  margin: 10px 0;
  padding: 10px 5px;
  border: 3px solid #ccc;
  border-radius: 4px;
}
