.AddProductPage {
  display: grid;
  place-content: center;
  padding: 100px;
}

.add-product-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0;
  gap: 20px;
  min-height: max;
  background-color: #606c38;
  border-radius: 10px;
  width: 800px;
}

.add-product-form input {
  width: 250px;
  height: 30px;
}

.input-form-div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-form-div h4 {
  margin: 0;
  padding: 0;
}

.watch-img-div {
  display: grid;
  grid-template-rows: 90% 10%;
  place-items: center;
  padding: 20px;
}

.form-buttons-div {
  display: flex;
  gap: 20px;
}

.reset-button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #bc6c25;
  cursor: pointer;
}

.reset-button:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid black;
  background-color: #606c38;
}

.submit-button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #bc6c25;
  cursor: pointer;
}

.submit-button:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid black;
  background-color: #606c38;
}

.form-erros-div {
  color: darkred;
  font-size: 16px;
}

.form-added-div {
  color: green;
  font-size: 20px;
}

.forbiddenContainer {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
