.CartItem {
  border-radius: 4px;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CartItem a {
  text-decoration: none;
  color: black;
}

.CartItem span {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.CartItem:hover {
  cursor: pointer;
  transition: 0.2s ease-in;
  background-color: #dda15e;
}

.info-div .cartItemBtn {
  border: none;
  padding: 0px;
  margin: 0;
  padding: 0px 0px 0px 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.cartItemBtn:hover {
  background-color: #dda15e;
}

.info-div {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.quntity-div {
  display: flex;
  gap: 10px;
}

.info-div button {
  padding: 0px 5px;
  cursor: pointer;
}

.price-remove-div {
  display: flex;
  gap: 0px;
}
