.CheckoutDetails {
  display: flex;
  flex-direction: column;
  width: 81%;
  font-size: 18px;
}

.CheckoutDetails .checkout-list {
  padding: 0;
  background-color: #606c38;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.CheckoutDetails .checkout-list .item-total {
  justify-self: right;
}

.CheckoutDetails .checkout-list li {
  display: grid;
  grid-template-columns: 20px 1fr max-content 70px;
  gap: 20px;
}

.CheckoutDetails .checkout-list .item-quantity {
  border-right: 2px solid var(--white);
  padding-right: 10px;
}

.CheckoutDetails .total {
  display: flex;
  justify-content: flex-end;
  margin-left: 75px;
  width: 735px;
}

.CheckoutDetails .total-list {
  border-radius: 5px;
  background-color: #606c38;
  width: 40%;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.CheckoutDetails .total-list div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.CheckoutDetails button {
  align-self: flex-end;
  width: 100%;
  margin-top: 20px;
}
